<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OrigMoflon -->
      <package
            uri="platform:/plugin/org.gervarro.democles.emoflon/model/Moflon.ecore"
            class="org.gervarro.democles.emoflon.EMoflonPackage"/>
   </extension>

</plugin>
